In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv("./TFP.csv")

In [3]:
df.head()

  isocode  year    rtfpna
0     USA  1950  0.617148
1     USA  1951  0.629588
2     USA  1952  0.638451
3     USA  1953  0.651858
4     USA  1954  0.646179

In [4]:
print(df.dtypes)

isocode     object
year         int64
rtfpna     float64
dtype: object

In [5]:
import warnings
import itertools
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')
import statsmodels.api as sm

In [8]:
import fbprophet

In [18]:
dadoscsv = df.append(df, ignore_index=True,sort=True)
print(dadoscsv)

dadoscsv_model = Prophet(interval_width=0.95)

    isocode    rtfpna  year
0       USA  0.617148  1950
1       USA  0.629588  1951
2       USA  0.638451  1952
3       USA  0.651858  1953
4       USA  0.646179  1954
..      ...       ...   ...
367     MEX  1.013673  2007
368     MEX  0.991548  2008
369     MEX  0.915879  2009
370     MEX  0.941604  2010
371     MEX  0.955766  2011

[372 rows x 3 columns]

In [19]:
dadoscsv.head()

  isocode    rtfpna  year
0     USA  0.617148  1950
1     USA  0.629588  1951
2     USA  0.638451  1952
3     USA  0.651858  1953
4     USA  0.646179  1954

In [23]:
dadoscsv.set_index('year')

     isocode    rtfpna
year
1950     USA  0.617148
1951     USA  0.629588
1952     USA  0.638451
1953     USA  0.651858
1954     USA  0.646179
...      ...       ...
2007     MEX  1.013673
2008     MEX  0.991548
2009     MEX  0.915879
2010     MEX  0.941604
2011     MEX  0.955766

[372 rows x 2 columns]

In [25]:
dadoscsv['year'] = pd.to_datetime(dadoscsv['year'])

In [26]:
dadoscsv = dadoscsv.dropna(how='all')
dadoscsv = dadoscsv.reset_index(drop=True)

In [27]:
print(dadoscsv.dtypes)

isocode            object
rtfpna            float64
year       datetime64[ns]
dtype: object

In [28]:
hf = dadoscsv[['year','rtfpna']]

In [39]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2)
df_filled = imputer.fit_transform(df2)
dataframe=pd.DataFrame(df_filled, columns = cols)

NameError: name 'df2' is not defined