In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import random
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

#train=pd.read_csv('')
#test=pd.read_csv('C:/Users/Analytics Vidhya/Desktop/challenge/Test.csv')
#train['Type']='Train' #Cria uma bandeira para o conjunto de dados de treino e de teste
#test['Type']='Test'
fullData = pd.read_csv('./asa.csv') #Combina ambos conjuntos de dados de treino e de teste

In [5]:
fullData.columns # This will show all the column names
fullData.head(10) # Show first 10 records of dataframe
fullData.describe() #You

         tons corn     gdp_china
count    23.000000  2.300000e+01
mean   1772.347826  1.718801e+11
std     995.261894  2.579433e+11
min     560.000000  3.521626e+08
25%     876.500000  2.034433e+10
50%    1594.000000  7.462970e+10
75%    2545.500000  9.704711e+10
max    3641.000000  8.806305e+11

In [6]:
fullData.head()

     tons corn     gdp_china
323        560  722749656803
431        604  459124130033
345        651    2476688046
422        706   33768720653
464        765  670052931878

In [8]:
ID_col = ['REF_NO']
target_col = ["Account.Status"]
cat_cols = ['children','age_band']
num_cols= list(set(list(fullData.columns))-set(cat_cols)-set(ID_col)-set(target_col)-set(data_col))
other_col=['Type']

NameError: name 'data_col' is not defined